<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
<Appenders>
    <Console name="CONSOLE">
        <PatternLayout pattern="%d %-5p %t %l %m%n"/>
    </Console>

    <!-- 写到本地日志 -->
    <!--第一步：配置appender-->
    <RollingFile name="INFO-LOCAL" fileName="logs/info.log" filePattern="logs/info-%d{yyyy-MM-dd}-%i.log" append="true">
        <PatternLayout>
            <Pattern>%d %-5p %t %l %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="50 MB"/>
        </Policies>
        <Filters>
            <Filter class="org.apache.log4j.varia.LevelRangeFilter" levelMin="DEBUG" levelMax="INFO" acceptOnMatch="true"/>
        </Filters>
    </RollingFile>
    <RollingFile name="ERROR-LOCAL" fileName="logs/error.log" filePattern="logs/error-%d{yyyy-MM-dd}-%i.log" append="true">
        <PatternLayout>
            <Pattern>%d %-5p %t %l %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="50 MB"/>
        </Policies>
        <Filters>
            <Filter class="org.apache.log4j.varia.LevelRangeFilter" levelMin="WARN" levelMax="FATAL" acceptOnMatch="true"/>
        </Filters>
    </RollingFile>

</Appenders>

<Loggers>
    <Root level="info">
        <AppenderRef ref="CONSOLE"/>
        <AppenderRef ref="INFO-LOCAL"/>
        <AppenderRef ref="ERROR-LOCAL"/>
    </Root>
</Loggers>
</Configuration>
